{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
    <h1>Adress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Company</th>
                <th>Adress</th>
                <th>Complement</th>
                <th>Phone</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.fullName }}</td>
                <td>{{ adress.company }}</td>
                <td>{{ adress.adress }}</td>
                <td>{{ adress.complement }}</td>
                <td>{{ adress.phone }}</td>
                <td>{{ adress.city }}</td>
                <td>{{ adress.postalCode }}</td>
                <td>{{ adress.country }}</td>
                <td>
                    <a href="{{ path('adress_show', {'id': adress.id}) }}">show</a>
                    <a href="{{ path('adress_edit', {'id': adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adress_new') }}">Create new</a>
{% endblock %}
